<div>
    <h1><a href="/">Django: Beacon List</a></h1>
</div>
<table class="table table-striped table-condensed">
    <tr>
        <th><u> Beacon MAC Address </u></th>
        <th><u> Beacon Name </u></th>
        <th><u> Beacon Type </u></th>
        <th><u> Estimated X </u></th>
        <th><u> Estimated Y</u></th>
        <th><u> Router 1</u></th>
        <th><u> Router 2</u></th>
        <th><u> Router 3</u></th>
    </tr>
    {% for beacon in beacons %}
        <tr>
            <td> {{ beacon.beacon_macAddress }} </td>
            <td> {{ beacon.beacon_name }} </td>
            <td> {{ beacon.beacon_type }} </td>
            <td> {{ beacon.beacon_avg_location_x }} </td>
            <td> {{ beacon.beacon_avg_location_y }} </td>
            <td> {{ beacon.beacon_router1 }}</td>
            <td> {{ beacon.beacon_router2 }}</td>
            <td> {{ beacon.beacon_router3 }}</td>
        </tr>
    {% endfor %}
</table>