<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Refresh" content="5">
<head>
    <meta charset="UTF-8">
    <title>Django: Beacon Data</title>
</head>
<table class="table table-striped table-condensed">
    <tr>
        <th>Date/Time</th>
        <th>Beacon Addr</th>
        <th>Router Addr</th>
        <th>RSSI Val</th>
        <th>Raw Distance</th>
        <th>Average Distance</th>
    </tr>
    {% for data in beacondata %}
        <tr>
            <td>{{ data.date_time }}</td>
            <td>{{ data.beacon.beacon_macAddress }}</td>
            <td>{{ data.router.node_zbMacAddress }}</td>
            <td>{{ data.rssi_val }}</td>
            <td>{{ data.raw_distance }}</td>
            <td>{{ data.avg_distance }}</td>
        </tr>
    {% endfor %}
</table>
</html>