<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  {% for i in order %}
  <tr>
    {% if i.order_booked %}
    <tr class="success">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ data.date_time }}</td>
        <td>{{ data.beacon.beacon_macAddress }}</td>
        <td>{{ data.router.node_zbMacAddress }}</td>
        <td>{{ data.rssi_val }}</td>
        <td>{{ data.raw_distance }}</td>
        <td>{{ data.avg_distance }}</td>
  </tr>
  {% endfor %}
</html>