<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Refresh" content="5">
<head>
    <meta charset="UTF-8">
    <title>Django: Router Data</title>
</head>
<table class="table table-striped table-condensed">
    <tr>
        <th>ZigBee MAC Address </th>
        <th>Node Name </th>
        <th>Node Location X </th>
        <th>Node Location Y </th>
    </tr>
    {% for router in routers %}
        <tr>
            <td>{{ router.node_zbMacAddress }}</td>
            <td>{{ router.node_name }}</td>
            <td>{{ router.node_location_x }}</td>
            <td>{{ router.node_location_y }}</td>
        </tr>
    {% endfor %}
</table>
</html>